KDT2Framework/Bin/Log/
KDT2Framework/BinObj/

Common/Bin/Log/
Common/BinObj/

AssetProj/Bin/Log/
AssetProj/BinObj/

.svn
.vs
.vscode
.idea

**/*.exe
**/*.pdb

AssetProj/**/*.lib
AssetProj/**/*.pdb
AssetProj/**/*.idb
Common/**/*.lib
Common/**/*.pdb
Common/**/*.idb

KDT2Framework/Bin/**/Common.lib
KDT2Framework/Bin/**/Common.idb
KDT2Framework/Bin/**/Common.pdb

KDT2Framework/Bin/**/AssetProj.lib
KDT2Framework/Bin/**/AssetProj.idb
KDT2Framework/Bin/**/AssetProj.pdb