.svn
.vs
.vscode
.idea

**/*.exe
**/*.pdb

KDT2Framework/Bin/Log/
KDT2Framework/BinObj/
!KDT2Framework/Bin/Server/**/*.exe

Common/Bin/Log/
Common/BinObj/

AssetProj/Bin/Log/
AssetProj/BinObj/

AssetProj/**/*.lib
AssetProj/**/*.pdb
AssetProj/**/*.idb
Common/**/*.lib
Common/**/*.pdb
Common/**/*.idb

KDT2Framework/**/Common.lib
KDT2Framework/**/Common.idb
KDT2Framework/**/Common.pdb

KDT2Framework/**/AssetProj.lib
KDT2Framework/**/AssetProj.idb
KDT2Framework/**/AssetProj.pdb